{% extends 'base.html' %}

    <!-- css block -->
    {% block style %}
    
     {%endblock%}

{% block main %} 

 {% include 'navbar.html' %}


 <div class="container">
     <div class="row py-5 mx-auto"> 
         <div class="col-lg-6">
            <h1>Login</h1>
            <form method="POST">
              {% csrf_token %}
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email</label>
                  <input type="email" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" name="password" class="form-control" id="exampleInputPassword1" required>
                </div>
                <div class="mb-3 text-danger">
                  {{error}}
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
              </form>
              <div class="py-3"></div>
              Are you a new user? <a href="/register">Register</a>
         </div>
         
     </div>
 </div>
    

{%endblock%}