{% extends 'base.html' %}

    <!-- css block -->
    {% block style %}
    
     {%endblock%}

{% block main %} 

 {% include 'navbar.html' %}


 <div class="container">
     <div class="row py-5 mx-auto"> 
         <div class="col-lg-6 bg-light p-4">
             <h1>Register</h1>
            <form method="POST">
              {% csrf_token %}
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Student Id</label>
                    <input type="text" name="stdId" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Batch No.</label>
                    <select class="form-select" name="batch" aria-label="Default select example" required>
                      <option value="30A">30A</option>
                      <option value="30B">30B</option>
                      <option value="30C">30C</option>
                      <option value="30D">30D</option>
                      <option value="30A">31A</option>
                      <option value="30B">31B</option>
                      <option value="30C">31C</option>
                      <option value="30D">31D</option>
                      <option value="30A">32A</option>
                      <option value="30B">32B</option>
                      <option value="30C">32C</option>
                      <option value="30D">32D</option>
                    </select>
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Username</label>
                    <input type="text" name="user" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">First Name</label>
                    <input type="text" name="fname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Last Name</label>
                    <input type="text" name="lname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" name="pwd1" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Retype Password</label>
                    <input type="password" name="pwd2" class="form-control" id="exampleInputPassword1">
                  </div>

                  <div class="mb-3 text-danger">
                    <div>{{email_taken}}</div>
                    <div>{{user_exist}}</div>
                    <div>{{username_taken}}</div>
                    <div>{{password_err}}</div>
                    <div>{{error}}</div>
                  </div>
               
                <button type="submit" class="btn btn-primary">Register</button>
              </form>

              <div class="py-4">
                  Are you already registered? <a href="/">Login</a>
              </div>
         </div>
     </div>
 </div>
    

{%endblock%}